@import "../Theme.scss";

.bookmarks {
  width: 100%;
  height: 100%;
  .createButton {
    color: red;
    margin: 5px;
  }

  hr {
    background-color: rgb(230, 230, 230, 0.6);
  }
  overflow-y: scroll;
}

#create-lists {
  .editor_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;

    button {
      background-color: $primary;
    }
  }

  .fields {
    margin: 10px;

    div {
      margin-top: 2px;
    }
  }

  .toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px !important;
  }
}
.bookmarkLists {
  display: flex;
  flex-direction: column;
}
.bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 15px;

  svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex:1;
    @media (max-width: 800px) {
      max-width: 280px;
    }
    max-width: 50%;

    .name {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .desc {
      color: lightgray;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      
    }
  }
  .icons {
    display: flex;
    
    justify-content: space-between;
   
  }
}

.bm_notfound {
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  color: $on_background;

  .warning {
    margin-left: 10px;
  }
}
