@import '../Theme.scss';

.content{
    position:relative;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
}

$fabsize:50;

.fab{
    display:flex;
    position:absolute;
    bottom:0;
    right:0;
    margin:20px;
    margin-right:35px;
    margin-bottom:70px;

button{
    color:white;
    background-color: $primary;
    width:$fabsize+px;
    height:$fabsize+px;
    svg{
        width:calc($fabsize/2)+'px';
        height:calc($fabsize/2)+'px';
    }
}
button:hover{
    background-color: $primary;
}
}