@import '../Theme.scss';
.header{
    display:flex;
    align-items: center;
    padding:15px;
    padding-bottom: 0px;

    h5,h6{
        font-weight: bold;
        margin-left:20px;
    }
    svg{
        color:$on_background;
    }
    .info > span{
        display:flex;
        flex-direction: column;
        color:$on_surface;
        margin-left:20px;
    }
    .edit_profile{
        display:flex;
        width: 100%;
        justify-content: space-between;
        .edit_button{background-color: $primary;}
    }
    .searchbar{
    input{
        color:white;
    }
    }
}
