@import "../Theme.scss";

.navbar {
    display: flex;
    color: $on_background;
    border-top: 3px solid $surface;
    justify-content: space-around;
    position: fixed; //make navbar stick to bottom of screen , specifically for mobile viewport
    width:100%;
    top:auto;
    bottom:0;
    button {
        margin: 10px;
        svg{
            width: 30px;
            height: 30px;
            color:$on_surface;
        }
    }
    :hover {
        cursor: pointer;
    }
    
}