@import "../../Theme.scss";

$size: 60px;

.user_profile {
  display: flex;
  flex-direction: column;
  color: white;
  flex-grow: 1;
  margin-top: 10px;
  height: 100%;
  .profile_content{
    overflow-y:scroll;
    // @media (max-width:800px) {
    //     height: 62vh;
    // }
    height: calc(75vh - 20px);
  }
  .photo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .MuiAvatar-root {
      width: $size;
      height: $size;
    }

    button {
      color: $on_surface;
      border-color: $primary;
      margin-right: 5px;
      height: $size - 25;
    }
  }

  .user_name {
    display: flex;
    flex-direction: column;

    .tag {
      color: $on_background;
    }
  }

  .description {
    margin-top: 2px;
  }

  .interests {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
    }
  }

  .filter_buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-top: 20px;
  }
}

.profile_notfound {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;

  svg {
    width: 40px;
    height: 40px;
  }

  p {
    margin-left: 5px;
    font-size: 20px;
  }
}
.no_posts{
  display:flex;
  align-items: center;
  justify-content: center;
  padding:50px;
  svg{
    margin-right:5px;
  }
}