@import "./Theme.scss";

body{
    margin:0;
    padding:0;
}
.App{
    background-color: $background;
    width: auto;
    height: 100vh;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    
}