@import "../../Theme.scss";

.post_container {
  display: flex;
  padding: 10px;
  font-family: Roboto;
  .avatar {
    padding: 5px;
    padding-top: 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    .user_action {
      display: flex;
      align-items: center;
      color: lightgray;

      .icon {
        $iconsize: 14px;
        width: $iconsize;
        height: $iconsize;
      }
      .action {
        font-size: 11px;
        margin-left: 3px;
      }
    }
    .author {
      display: flex;
      align-items: center;

      .tagAndTime {
        color: lightgray;
      }
    }
    .interaction {
      display: flex;
      color: gray;
      svg {
        $iconsize: 20px;
        width: $iconsize;
        height: $iconsize;
      }
      div {
        cursor: pointer;
        margin-top:2px;
        margin-right: 5px;
      }
    }
  }

  .right {
    .more {
      color: gray;
      cursor: pointer;
    }
  }
}

.preview-container{
  display:flex;
}