@import "../../Theme.scss";

$post_border: 1px solid rgba(225, 225, 225, 0.1);

@mixin interaction_actions {
  display: flex;
  align-items: center;
}

.post_container {
  display: flex;
  padding: 20px 10px 10px 10px;

  border-bottom: $post_border;

  font-family: Roboto;
  .avatar {
    padding: 5px;
    padding-top: 20px;
    padding-right: 10px;
  }
  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    color:white;
    .user_action {
      display: flex;
      align-items: center;

      color: lightgray;
      //a container used to hold icon with user action so that it can be spaced out in mobile view because there's close icon on top right
      .a {
        display: flex;
        align-items: center;
      }
      .icon {
        $iconsize: 20px;
        width: $iconsize;
        height: $iconsize;
      }
      .action {
        font-size: 13px;
        margin-left: 3px;
      }
      .reply_action {
        font-size: 14px;
        margin-left: 3px;
        a {
          color: $secondary;
          // cur
        }
      }
    }
    .author {
      display: flex;
      align-items: center;
      a {
        text-decoration: none;
        color: $on_surface;
      }
      .name {
        font-weight: 500;
      }
      .tagAndTime {
        color: lightgray;
      }
    }
    .interaction {
      display: flex;
      align-items: center;
      color: gray;
      margin-top: 10px;
      .comments {
        @include interaction_actions;
      }
      .likes {
        @include interaction_actions;
      }
      .reposts {
        @include interaction_actions;
      }

      svg {
        $iconsize: 20px;
        width: $iconsize;
        height: $iconsize;
      }
      div {
        cursor: pointer;
        margin-right: 5px;
      }
    }
    .comment_interaction {
      display: flex;
      align-items: center;
      color: gray;
      svg {
        $iconsize: 20px;
        width: $iconsize;
        height: $iconsize;
      }
      div {
        cursor: pointer;
        margin-top: 10px;
        margin-right: 25px;
      }
    }
  }

  .right {
    .more {
      color: gray;
      cursor: pointer;
    }
  }
}

.preview-container {
  color:$on_surface;
  .media_preview {
    height: 100%;
    flex: 1;
    z-index: 10;
    //TODO: CENTER IMAGE,KEEP IMG RATIO
    img {
      width: 100%;
      height: 100%;

      max-width: 80vw;
      max-height: 90vh;
      object-fit: scale-down;
      z-index: 1;
    }
    .closeIcon {
      z-index: 3;
      cursor: pointer;
      svg {
        font-size: 30px;
      }
    }
  }
  .comments_preview_container {
    background-color: $surface;
    // width: 400px;//desktop only
    height: 100%;
    // width: 400px;//400px on desktop,fullscreen on mobile
  }
  // .comment_divider {
  //   display: flex;
  //   width: 95%;
  //   border-top: 1px solid gray;
  //   margin: 10px;
  // }
  .reply_input {
    margin: 5px;
    width: 95%;
    label {
      color: lightgray;
    }
    input {
      color: white;
    }
    button {
      color: white;
    }
  }

  .comment_section {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @media (max-width: 800px) {
      height: calc(100% - 200px); //Mobile Only
    }
    height: calc(100% - 180px); //Desktop Only
  }
}

#ShareMenu {
  margin: 0px 5px 0px 5px;
  svg {
    margin-right: 5px;
  }
}

#ReportMenu {
  h5 {
    margin: 10px 20px 0px 20px;
  }
  div[role="radiogroup"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
    .Mui-checked {
      svg {
        color: $secondary;
      }
    }
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      margin: 10px 20px 0px 0px;
      color: gray;
      cursor: pointer;
    }
  }
  button {
    background-color: $primary;
  }
}

.no_comments {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  svg {
    margin-right: 10px;
  }
}

.mobile_close {
  align-self: flex-end;
  margin-right: 10px;
}

.user_blocked {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  .info {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
      color: red;
    }
  }
  $button-color: hsl(0, 100%, 40%);
  $button-highlight: hsl(0, 100%, 65%);
  button {
    width: 50%;
    margin: 10px;
    border-color: $button-color;
    color: $button-color;
  }
  .MuiButton-outlined:hover {
    border: 1px solid $button-highlight;
  }
}


#BookmarkMenu {
  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    button {
      background-color: $primary;
    }
  }
  .bookmarkList {
    display: flex;
    max-height: 50vh;
    align-items: center;
    justify-content: center;
    // border:1px solid red ;
    // padding:10px;
    // margin:10px;
    p {
      flex: 1;
      padding: 10px;
      cursor: pointer;
      text-overflow:ellipsis;
      overflow:hidden;
      white-space:nowrap;
    }
  }
  .selected{
    background-color: rgba(187, 134, 252,.4);
    border-radius: 5px;
    transition:background-color .5s;
  }
}

#bmAlert{
  div>h6,svg:first-child{
    color:red;
  }
}