@import '../../Theme.scss';

.accessibility {
    color: $on_background;

    .example_post {
        height: 200px;
    }

    .pick_fontsize {
        display:flex;
        align-items: center;
        justify-content: center;
        margin:20px;
        .MuiSlider-root{
            color: $primary;
        }
        .smallerA{
            margin-right:20px;
            font-size:14px;
        }
        .biggerA{
            margin-left:20px;
            font-size: 20px;
        }
        
    }

    .pick_bgtheme {}

}